.flex {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.select {
    display: block;
    min-width: 20%;
    max-width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--gray-02);
    border-radius: var(--radius);
    border: none;
}

.cart,
.bay {
    padding: 0.5rem 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.bay {
    color: var(--white);
    background: var(--blue);
}

.cart {
    margin-right: 1rem;
    color: var(--gray-05);
}

.cart:hover {
    background: var(--gray-02);
}
