.root {
    width: 50%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.wrp {
    position: relative;
    height: 15rem;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 2rem;
}

.delete {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    width: 48%;
}

.label {
    display: block;
    cursor: pointer;
}

.title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.input {
    display: none;
}

.btn {
    padding: 1rem 2rem;
    color: var(--white);
    background: var(--green-02);
    border-radius: var(--radius);
}
