.picture {
    position: relative;
    margin: 4rem 0;
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    background: var(--backdrop);
}

.img {
    height: 50rem;
    object-fit: cover;
    border-radius: var(--radius);
}