.picture {
    position: relative;
    margin: 4rem 0;
    height: 50rem;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    background: var(--backdrop);
    pointer-events: none;
}

.loader img {
    height: 5rem;
    width: 5rem;
}

.img {
    position: relative;
    z-index: 1;
    height: 50rem;
    object-fit: cover;
    border-radius: var(--radius);
    cursor: pointer;
}