.card {
    padding: 2rem 0;
    border-bottom: 0.1rem solid var(--gray-02);
}

.card:nth-of-type(1) {
    border-top: 0.1rem solid var(--gray-02);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.count {
    margin: 1.5rem 0 0;
}

.inner {
    width: 100%;
}

.img {
    height: 10.5rem;
    min-width: 10.5rem;
    max-width: 10.5rem;
    margin-right: 1rem;
    object-fit: cover;
}

.content:hover {
    text-decoration: underline;
}

.cart,
.bay {
    padding: 0.5rem 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.bay {
    color: var(--white);
    background: var(--blue);
}

.cart {
    margin-right: 1rem;
    color: var(--gray-05);
}

.cart:hover {
    background: var(--gray-02);
}
