.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--black);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.backdrop.enter .inner {
    transform: translateX(-100%);
}
.backdrop.enter-done .inner {
    transform: translateX(0%);
}

.backdrop.exit .inner {
    transform: translateX(-100%);
}
.backdrop.exit-done .inner {
    transform: translateX(0%);
}

.backdrop .inner {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    height: 100%;
    width: 95%;
    padding: 5rem 2rem 2rem;
    background: var(--white);
    border-right: 0.1rem var(--green-01);
    transition: 0.3s ease-in-out;
    overflow: auto;
    cursor: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
    color: var(--black);
}
