.btn {
    position: relative;
    display: block;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 0.5rem 0 auto;
    font-size: 0;
    cursor: pointer;
    background: var(--gray-02);
}

.btn:hover {
    box-shadow: 0 0 0 0.1rem var(--gray-04);
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 50%;
    width: 0.2rem;
    background: var(--black);
}

.btn::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
